main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
  margin: 0 max(0px, calc(50vw - 650px));

  h1 {
    text-align: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;

    .project {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      gap: 20px;

      &:nth-child(even) {
        flex-direction: row-reverse;

        /* .info {
          align-items: flex-end;

          .technologies {
            justify-content: flex-end;
          }

          .description {
            p {
              text-align: right;
            }
          }
        } */
      }

      >img {
        flex-shrink: 0;

        border: 1px solid black;
        height: 270px;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        .header {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;

          .feature-icons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 6px;

            div {
              display: flex;

              img {
                height: 1.4rem;
              }
            }

          }
        }

        .technologies {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 6px;

          div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            border: 1px solid black;
            border-radius: 20px;
            padding: 3px 10px;
            background-color: white;
            color: black;
            font-size: 0.9rem;

            img {
              height: 1.1rem;
            }

            &:hover {
              cursor: default;
            }
          }
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 5px;

          p {
            text-align: left;
          }
        }

        .links {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 5px;

            padding: 4px;
            border: 1px solid black;

            img {
              height: 1.4rem;
            }

            &:hover {
              background-color: lightgray;
            }
          }
        }
      }
    }
  }
}