main.projects {
  gap: 40px;

  h1 {
    text-align: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;

    .project {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      gap: 20px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .screenshot {
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid black;
        --screenshot-height: 270px;
        height: var(--screenshot-height);

        &:has(.wip) {
          /* width: calc(var(--screenshot-height) * 1.78); */
          width: calc(var(--screenshot-height) * 2.12);
        }

        >img {
          height: 100%;
          width: auto;

          &.wip {
            height: 50%;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        gap: 10px;

        .header {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;

          .name {
            white-space: pre-wrap;
          }

          .feature-icons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 6px;

            div {
              display: flex;

              img {
                height: 1.35rem;
              }
            }

          }
        }

        .technologies {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 6px;

          div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            border: 1px solid black;
            border-radius: 30px;
            padding: 3px 11px;
            background-color: white;
            color: black;
            font-size: 0.9rem;

            img {
              height: 1.1rem;
            }

            &:hover {
              cursor: default;
            }
          }
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 5px;

          p {
            text-align: left;
          }
        }

        .links {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 5px;

            padding: 5px 10px;
            background-color: var(--highlight-light);

            img {
              height: 1.2rem;
            }

            &:hover {
              background-color: var(--highlight-light-hover);
            }
          }
        }
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;

        &:nth-child(even) {
          flex-direction: column-reverse;
        }

        .screenshot {
          height: auto;

          &:has(.wip) {
            display: none;
          }

          >img {
            max-height: calc(var(--screenshot-height) - 2px);
            max-width: 100%;
            z-index: -1;
          }
        }
      }
    }
  }

  #main-projects {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  #learning-projects {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;

    &>.header {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        'title button'
        'description .';
      column-gap: 5px;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      &:has(+ .content.hidden) {
        padding-bottom: 10px;
        border-bottom: 1px solid black;
      }

      &>h2 {
        grid-area: title;
        cursor: pointer;
      }

      &>p {
        grid-area: description;
      }

      &>button {
        grid-area: button;
        align-self: start;

        display: flex;
        background-color: transparent;
        border: none;

        &>img {
          height: 2.4rem;
        }
      }
    }

    .content {
      &.hidden {
        display: none;
      }
    }
  }
}