main.skills {
  gap: 40px;

  h1 {
    align-self: center;
    margin-bottom: -20px;
  }

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  table {
    height: fit-content;
    width: 100%;
    table-layout: fixed;

    caption {
      font-weight: bold;
      font-size: 1.25rem;
      padding-bottom: 4px;
    }

    thead {
      th {
        font-size: 1.2rem;
        background-color: var(--highlight-dark);
        color: white;
        padding: 5px 0;
      }
    }

    tbody {
      tr {
        height: 100%;

        td {
          text-align: center;

          &:not(:last-child) {
            border-right: 1px solid var(--highlight-light-hover);
          }
        }

        th {
          background-color: var(--highlight-light);
          padding: 5px 0;
          font-weight: normal;
        }
      }

      &.mobile {
        tr {
          th {
            font-size: 1.2rem;
            background-color: var(--highlight-dark);
            color: white;
            font-weight: bold;
          }

          td:has(strong) {
            background-color: var(--highlight-light);
            padding: 5px 0;

            strong {
              font-weight: normal;
            }
          }
        }
      }
    }

    &.software-skills {
      .technology-group {
        height: 100%;
        padding: 12px 6px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        column-gap: 6px;
        row-gap: 4px;
        align-items: center;
        justify-content: center;
        align-content: start;

        @media only screen and (max-width: 768px) {
          column-gap: 22px;
        }

        .technology {
          flex-basis: 20%;
          height: 4.6rem;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 4px;

          .logo {
            height: 2rem;
          }

          .name {
            white-space: pre-line;
            line-height: 1.2;
          }
        }
      }
    }
  }

  .section.software-skills {
    .disclaimer {
      text-align: center;
      font-size: 0.95rem;

      @media only screen and (max-width: 768px) {
        margin-top: -20px;
      }
    }
  }

  .section.other-skills {
    align-self: stretch;

    table {
      &.languages {
        width: 50%;
        border-collapse: collapse;

        th {
          font-size: 1rem;

          &:not(:last-child) {
            border-right: 1px solid white;
          }
        }

        td {
          padding: 2.5px;
        }

        @media only screen and (max-width: 768px) {
          width: 100%;
          table-layout: auto;
        }
      }
    }
  }
}