main.about {
  gap: 30px;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
    }

    .introduction {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      text-align: justify;

      #cv-buttons {
        gap: 15px;

        button {
          background-color: var(--highlight-light);
          color: var(--highlight-light-contrast);

          &:hover {
            background-color: var(--highlight-light-hover);
          }
        }
      }
    }

    .photo {
      height: min(300px, 65vw);
      border: 1px solid var(--border);
    }
  }
}