.animated-word-display {
  .word {
    color: var(--text);
  }

  .caret {
    color: var(--text);

    &.blinking {
      animation: blink-caret var(--blink-duration) step-end infinite;
    }
  }
}

@keyframes blink-caret {

  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text);
  }
}