.animated-word-display {
  .word {
    color: var(--text);
  }

  .caret.blinking {
    animation: blink-caret var(--blink-duration) step-end infinite;
  }
}

@keyframes blink-caret {

  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text);
  }
}