main.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  #greeting {
    font-size: 3.1rem;

    @media only screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .animated-word-display {
    font-size: 1.8rem;
  }

  #introduction {
    margin-top: 20px;
    text-align: center;
    font-size: 1.25rem;

    @media only screen and (max-width: 768px) {
      font-size: 1.05rem;
    }
  }
}