main.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .greeting {
    font-size: 2.5rem;
  }


  .animated-word-display {
    font-size: 1.5rem;
  }

  .introduction {
    text-align: left;
  }
}