header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: '. nav';
  padding: 10px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'nav';
  }
}