header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  --header-padding: 10px;
  padding: var(--header-padding);
  height: var(--header-height);
  margin-bottom: calc(-1 * (var(--header-height)));

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--background);

    &:has(#dark-mode-button) {
      padding-left: calc(var(--header-padding) + var(--scrollbar-width));
    }

    @media only screen and not (max-width: 768px) {
      @supports selector(::-webkit-scrollbar) {
        right: var(--scrollbar-width);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    justify-content: center;
  }

  &:has(#dark-mode-button) {
    justify-content: space-between;
  }

  #dark-mode-button {
    background-color: var(--background);
    border: none;

    img {
      height: 100%;
    }

    &[data-tooltip] {
      @media only screen and not (max-width: 768px) {
        &:hover::after {
          transform: translateX(-15%) translateY(120%) scale(1);
        }
      }
    }
  }

  &.dark-theme {
    #dark-mode-button {
      img {
        filter: invert(1);
      }
    }
  }
}