nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    list-style-type: none;

    li {

      /* Custom underlining */
      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: black;
          bottom: -1px;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        /* Active link always on */
        &.active {
          &::before {
            transform: scaleX(1);
          }
        }

        /* Animation on hover */
        @media only screen and not (max-width: 768px) {
          &:hover {
            &::before {
              transform-origin: left;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}