footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1px;

  padding: 15px 0 3px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 0.85rem;

    a {
      text-decoration: underline;

      &:hover {
        color: var(--text-hover);
      }
    }

    img {
      height: 1.2rem;

      &.invert {
        filter: invert(1);
      }
    }

    &#footer-contact {
      gap: 8px;
    }
  }
}