@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: 'InterDownloaded';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansDownloaded';
  src: url('./assets/fonts/OpenSans.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'OnestDownloaded';
  src: url('./assets/fonts/Onest.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Inter, InterDownloaded, 'Open Sans', OpenSansDownloaded, Onest, OnestDownloaded, Arial, sans-serif;
}

p,
pre,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
label,
td,
th,
caption {
  color: var(--text);
  background-color: var(--background);
}

a.link {
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.45rem;
}

button {
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }
}

html {
  font-size: 16px;
  height: 100vh;
  height: 100dvh;
}

#root {
  --scrollbar-width: 12px;
  --header-height: 40px;

  height: 100vh;
  height: 100dvh;
  background-color: var(--background);
  background-image: radial-gradient(var(--background-pattern) 1px, transparent 1px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: scroll;
  overflow-x: hidden;

  &:has(.light-theme) {
    --background: white;
    --background-pattern: #d0d0d4;
    --border: #a1a1aa;
    --text: black;
    --text-hover: #52525b;
    --highlight-dark: #52525b;
    --highlight-dark-hover: #3f3f46;
    --highlight-dark-contrast: white;
    --highlight-medium: #a1a1aa;
    --highlight-medium-hover: #71717a;
    --highlight-light: #e4e4e7;
    --highlight-light-hover: #d4d4d8;
    --highlight-light-contrast: black;
    background-size: 30px 30px;
  }

  &:has(.dark-theme) {
    --background: #27272a;
    --background-pattern: #4c4c54;
    --border: var(--background);
    --text: white;
    --text-hover: #d4d4d8;
    --highlight-dark: #71717a;
    --highlight-dark-hover: #52525b;
    --highlight-dark-contrast: white;
    --highlight-medium: #a1a1aa;
    --highlight-medium-hover: #71717a;
    --highlight-light: #e4e4e7;
    --highlight-light-hover: #bbbbc1;
    --highlight-light-contrast: black;
    background-size: 38px 38px;
  }

  main {
    flex-grow: 1;
    padding: 50px 30px 40px;
    margin: var(--header-height) max(0px, calc(50vw - 650px)) 0;

    @media only screen and (max-width: 768px) {
      padding: 20px 15px 40px;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      font-size: 2.4rem;

      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media only screen and (max-width: 768px) {
        align-self: stretch;
        flex-direction: column;
        align-items: stretch;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }

      button {
        padding: 5px 10px;
        border: none;
        background-color: var(--highlight-dark);
        color: var(--highlight-dark-contrast);
        font-size: 0.95rem;

        &:hover {
          background-color: var(--highlight-dark-hover);
        }
      }
    }
  }
}

/* Scrollbar */
@media only screen and not (max-width: 768px) {
  /* Webkit scrollbar */
  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: var(--scrollbar-width);
    }

    ::-webkit-scrollbar-track {
      background: var(--background);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--highlight-medium);
      border-radius: 0px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--highlight-medium-hover);
    }
  }

  /* Non-Webkit scrollbar */
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: auto;
      scrollbar-color: var(--highlight-medium) var(--background);
    }
  }
}


[data-tooltip] {
  position: relative;

  &::after {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 6px 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    text-wrap: nowrap;
    bottom: 0px;
    left: 50%;
    content: attr(data-tooltip);
    transform: translate(-50%, 110%) scale(0);
    transform-origin: top;
    transition: 0.14s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
  }

  @media only screen and not (max-width: 768px) {
    &:hover::after {
      transform: translateX(-50%) translateY(110%) scale(1);
    }
  }
}

/* Dummy settings to make dark theme extensions detect dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}