@import url('https://fonts.googleapis.com/css?family=Onest');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Onest, Arial, sans-serif;
}

p,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
label {
  color: black;
}

p {
  line-height: 1.45rem;
}

button {
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }
}

html {
  font-size: 16px;
  height: 100vh;
  height: 100dvh;
}

#root {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  main {
    flex-grow: 1;
    padding: 20px 30px 40px;
    margin: 0 max(0px, calc(50vw - 650px));

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media only screen and (max-width: 768px) {
        align-self: stretch;
        flex-direction: column;
        align-items: stretch;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }

      button {
        padding: 5px 10px;
        border: none;
        background-color: grey;
        color: white;
        font-size: 0.9rem;

        &:hover {
          background-color: dimgrey;
        }
      }
    }
  }
}

[data-tooltip] {
  position: relative;

  &::after {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 6px 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    text-wrap: nowrap;
    bottom: 0px;
    left: 50%;
    content: attr(data-tooltip);
    transform: translate(-50%, 110%) scale(0);
    transform-origin: top;
    transition: 0.14s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
  }

  &:hover::after {
    display: block;
    transform: translate(-50%, 110%) scale(1);
  }

  @media only screen and (max-width: 768px) {
    &::after {
      content: normal;
    }
  }
}